<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PROSERADB"
			 connectionString="Server=DESKTOP-L1RS48N\SQLEXPRESS;Database=PROSERADB;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>