<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PROSERADB"
			 connectionString="Server=R-LOPEZ\SQLEXPRESS; Database=PROSERADB; Integrated Security=True; TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>